* {
  box-sizing: border-box;
}
.main {
  background-color: #5d70bd;
  width: 100%;
  height: 100vh;
}
.container {
  max-width: 500px;

  margin: auto;
}
.headerComplete {
  margin-top: 10px;
  font-size: 18px;
  display: flex;
  color: white;
}
.quantityCompletedTasks {
  margin-left: 10px;
  color: white;
}
/* --- LARGE SCREEN --- */
@media all and (min-width: 992px) {
  html {
    font-size: 16px;
  }
}
